<div 
    layout="column"
    layout-gt-sm="row" 
    layout-padding
    flex>
    <md-content layout="column" flex="none" flex-gt-sm="30">
        <div>
            <h2 translate>Theme</h2>
            <p translate>
                Here you can set your preferred theme for your site.
            </p>
        </div>
        <md-input-container>
            <label>Theme</label>
            <md-select ng-model="myTheme" ng-init="myTheme = app.config.theme">
                <md-option ng-repeat="item in themes" ng-value="item.name">
                    {{item.name|| item.title}}
                </md-option>
            </md-select>
        </md-input-container>
        <div layout="row">
            <md-button 
                class="md-raised md-primary" 
                ng-click="applyTheme(myTheme)"
                translate>Apply</md-button>
            <md-button 
                class="md-raised" 
                ng-href="preferences/theme/manager">Theme manager</md-button>
        </div>
    </md-content>
    <div layout="column" flex="none" flex-gt-sm>
        <!-- TODO: hadi-1396-12-01: fix theme -->
        <div>
            <h2 translate>Preview</h2>
        </div>
        <md-content md-whiteframe="5" flex  md-theme="myTheme || app.config.theme">
            <wb-group
                ng-model="ctrl.template"
                style="border: solid 1px" 
                md-colors="{borderColor:'default-primary-100'}">
            </wb-group>
        </md-content>
    </div>
</div>