<md-sidenav
    class="md-sidenav-left"
    md-component-id="theme-manager-left"
    md-is-locked-open="true">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <label flex translate>Themes</label>
            <md-button
                ng-href="preferences/theme"
                class="md-icon-button" 
                aria-label="Go to theme setting">
                <wb-icon>palette</wb-icon>
            </md-button>
            <md-button
                ng-click="addTheme()"
                class="md-icon-button" 
                aria-label="Settings">
                <wb-icon>add</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item 
                ng-repeat="theme in app.config.themes" 
                ng-click="selectTheme(theme)">
                <p>{{ theme.title}}</p>
                <wb-icon 
                    ng-click="deleteTheme(theme)" 
                    aria-label="Delete theme" 
                    class="md-secondary md-hue-3">delete</wb-icon>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<md-content 
    layout="column" 
    layout-padding flex>
    <div ng-if="!selectedTheme">
        <p translate>Select a theme</p>
        <p>
            Here you can add/remove themes with preferred color palettes.
            <!-- 		To define below palettes you should enter data in JSON format. We suggest -->
            <!-- 		see this link  -->
            <!-- 		<a href="http://mcg.mbitson.com"	alt="link to palette generator site">http://mcg.mbitson.com</a>,  -->
            <!-- 		to get appropriate palette. -->
        </p>
    </div>
    <div ng-if="selectedTheme">
        <!-- 	Note: Hadi: this field will be generated automatically -->
        <md-input-container>
            <label translate>Name</label>
            <input ng-model="selectedTheme.name" type="text" readonly ng-disabled="true">
        </md-input-container>
        <md-input-container>
            <label translate>Title</label>
            <input ng-model="selectedTheme.title" type="text">
        </md-input-container>
    </div>
    <div ng-if="selectedTheme"
         layout-gt-xs="row" layout="column" md-theme="default">
        <div layout="column" flex>
            <md-checkbox ng-model="selectedTheme.options.dark" aria-label="Dark">
                {{'Dark?'| translate}} 
            </md-checkbox>
            <amh-palette-color-chooser 
                ng-model="selectedTheme.options.primary"
                amh-label="{{'Primary Palette'| translate}}">
            </amh-palette-color-chooser>
            <amh-palette-color-chooser 
                ng-model="selectedTheme.options.accent"
                amh-label="{{'Accent Palette'| translate}}">
            </amh-palette-color-chooser>
            <amh-palette-color-chooser 
                ng-model="selectedTheme.options.warn"
                amh-label="{{'Warn Palette'| translate}}">
            </amh-palette-color-chooser>
            <amh-palette-color-chooser 
                ng-model="selectedTheme.options.background"
                amh-label="{{'Background Palette'| translate}}">
            </amh-palette-color-chooser>
        </div>
        <div flex class="section theme-preview" layout="row"
             layout-align="center center">
            <div layout="column" flex="70">
                <span class="componentTag" translate>Theme Preview</span>
                <amh-theme-palette-preview 
                    primary="selectedTheme.options.primary || 'indigo'" 
                    accent="selectedTheme.options.accent || 'pink'">
                </amh-theme-palette-preview>
            </div>
        </div>
    </div>
</md-content>
