.theme-preview .section {
	font-size: 12px;
	padding: 16px;
	font-weight: bold;
}

.theme-preview .line {
	padding: 16px;
}

.theme-preview .primary, 
.theme-preview .accent {
	margin: 4px 0;
	height: 120px;
}

.theme-preview [md-colors] {
	transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.theme-preview .componentTag {
	font-weight: bolder;
	font-size: 1.2em;
	padding-left: 10px;
}