<div md-theme="default">
<md-input-container class="md-block"
	md-colors="{backgroundColor: '{{ngModel}}'}">
	<label md-colors="{color: '{{ngModel}}'}">{{amhLabel}}</label>
	<md-select ng-model="ngModel"> 
		<md-option ng-value="">Default</md-option>
		<md-option
			ng-repeat="color in colors"
			md-colors="{backgroundColor: '{{color}}'}" ng-value="color">
			{{color}} </md-option>
	</md-select>
</md-input-container>
</div>